<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- font  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font  -->
    
    <!-- vue.js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <!-- vue.js  -->

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- css -->

    <title>Document</title>
</head>
<body>
    <div class="container" id="root">
        <div>
            <div class="logo">
                <img src="https://www.boolean.careers/images/misc/logo.png" alt="">
            </div>
            <div class="info">
                <input type="text" v-model="newToDo" @keyUp.enter="addToDo" placeholder="New to do">
                <button @click="addToDo">Aggiungi</button>
            </div>
            <div class="elenco">
                <ul v-if="toDos.length > 0">
                    <li v-for="(key,index) in toDos">
                        {{key}}
                        <i class="far fa-times-circle" @click="removeToDo(index)" ></i>
                    </li>
                </ul>
                <h2 v-else>To do list not found</h2>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>